
div{
    height:100px;
    width:100px;
    background-color:aqua;
    border:2px solid black;
    display:inline-block;
}
#box1{
    background-image: url(dog_photo.jpg);
    background-size: cover;
}
body{ 
    background-image: url(dog_photo.jpg);
    background-size: cover;
}